# DEVELOPMENT ENVIRONMENT
Dockerfile
cookie.txt
*.html

# Emacs
*~
**/*~

# Python
*.py[co]

# Configuration files. Include *.json.sample instead
*.json

# Files used for local testing
test_*

# Dev
.vscode
.devcontainer

# MacOS
.DS_Store
